@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.center-page {
    text-align: center;
}
img.small-circle {
    border-radius: 50%;
    box-shadow: 0px 3px 5px rgba(0,0,0,.5);
}
img.icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;
    float: right;
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,.5);
}
button:hover {
    background-color: rgba(0,0,0,.2);
}
span {
    font-weight: bold;
    margin-left: -50px;
    font-size: 1rem;
}
p {
    font-size: 1.3rem;
    font-weight: bold;
}
#notif {
    display: none;
}
pre {
    opacity: 0;
    max-width: 80vw;
    white-space: pre-wrap;
    text-align: left;
    transition: opacity 1s ease-in-out;
}
pre.show {
    opacity: 1;
    filter: blur(0px);
    background-color: rgba(0,0,0,.2);
    font-weight: bold;
}
pre.show.blur {
    filter: blur(3px);
}